// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
* {
  background-color: #090;
  color: #fff;
}
.journal-app > *{
  float: left;
}

.journal-app > .sidebar {
  width: 20%;
}

.journal-app > .content {
  width: 80%;
}
