// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1.active > input {
  font-size: inherit;
  height: 100%;
}


.journal-app > div {
  background: #ccc;
  height: 1000px;
  border-radius: 50px;
}

.journal-app:after {
  content: "";
  float: left;
  clear: both;
}

.sidebar > ul {
  list-style: none;
  align-content: center;
  padding: 0;
}

.sidebar > ul > li {
  font-size: 16px;
  margin: 10px auto;
}

.btn {
  box-shadow:
    0 3px 0 #000,
    inset 0px -1px 1px #FFF;
  display: block;
}

.btn:hover {
  position: relative;
  top: 3px;
  box-shadow: 0 0 0 #fff;
}

.sidebar a.new-post.btn {
  color: #fff;
  text-shadow: 0 0 0 #000;
}
