// Place all the styles related to the root controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
h1.row {
  font-size: 80px;
  font-family: courier;
  border-radius: 50px;
  background: #ccc;
  height: 100px;
  position: fixed;
  overflow: auto;
  z-index: 99;
  width: 62.5%;
}
