<h1>Post Form</h1>

<ul class="form-errors">
</ul>

<form>
  <div class="form-group">
    <label for="post_title">Title:</label>
    <input type="text"
           name="post[title]"
           id="post_title"
           value="<%= post.escape("title") %>"
           class="form-control">
  </div>

  <div class="form-group">
    <label for="post_body">Body:</label>
    <textarea name="post[body]"
              id="post_body"
              class="form-control"><%= post.escape("body") %></textarea>
  </div>

  <input type="submit" class="btn btn-success">
</form>
