<h1>Post Form</h1>

<ul class="form-errors">
</ul>

<form>
  <label>Title:
    <input type="text" name="post[title]" value="<%= post.escape("title") %>">
  </label>

  <br><br>

  <label>Body:
    <textarea name="post[body]"><%= post.escape("body") %></textarea>
  </label>

  <br><br>

  <input type="submit">
</form>
